.list-container { 
    list-style-type: none;
}

.appointment-card {
    height: 40%;
    width: 40%;
    background-color: rgb(238, 238, 238);
    margin: 10px;
    border-radius: 10px;
    padding: 10px;
    flex-wrap: wrap;
}

.space-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.list-heading {
    font-size: 7px;
    color: chocolate;
}

.list-btn {
    background-color: transparent;
    border-width: 0px;
}