.bg-container {
    background-color: rgb(255, 255, 255);
    background-size: cover;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.card-container {
    background-color: rgb(184, 242, 255);
    height: 60%;
    width: 60%;
}
.heading {
    font-size: 20px;
    font-weight: bold;
}

.pic {
    height: 50%;
    width: 50%;
    margin-top: 10px;
}

.line {
    width: 100%;
    color: black;
}

.appointment {
    width: 60%;
    height: 60%;
}

.items-container {
    display: flex;
    justify-content: space-between;
}

.input {
    height: 20px;
    width: 180px;
    margin-top: 10px;
}

.label-names {
    font-weight: bold;
    font-size: 15px;
}

.btn-style {
    height: 35px;
    width: 85px;
    background-color: rgb(114, 189, 255);
    color: whitesmoke;
    font-weight: bold;
    border-width: 0px;
    border-radius: 8px;
    margin-top: 35px;
}

.form {
    padding-left: 60px;
    padding-top: 60px;
}

.list-heading {
    font-size: 15px;
    font-weight: bold;
}

.list-button {
    background-color: transparent;
    color: black;
    font-weight: bold;
    border-radius: 10px;
    height: 20px;
    width: 65px;
}

.appointment-container {
    display: flex;
    justify-content: space-between;
    margin-left: 10%;
    margin-right: 10%;
}
